body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.starter-template {
    padding: 10px 15px 10px;
    text-align: center;
}
.foot{
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    text-align: center;
    color: gray;
}